<a href="https://colab.research.google.com/github/overred0704/Traffic_accident_detection_from_VD/blob/master/conbine_example_nov_nocrash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#download

In [ ]:
!gdown --id '1IrkpmF3PQOmd7pI2Ag3fYyiXYBk2MHF7' --output nov_acc.xlsx
!gdown --id '1Iq2yHkWjuCEbvzmxHhiwF3mDtuj5Fv-P' --output dec_acc.xlsx

Downloading...
From: https://drive.google.com/uc?id=1IrkpmF3PQOmd7pI2Ag3fYyiXYBk2MHF7
To: /content/nov_acc.xlsx
100% 41.8k/41.8k [00:00<00:00, 17.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Iq2yHkWjuCEbvzmxHhiwF3mDtuj5Fv-P
To: /content/dec_acc.xlsx
100% 45.8k/45.8k [00:00<00:00, 17.0MB/s]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#調整事故的原始檔案

In [ ]:
nov = pd.read_excel('nov_acc.xlsx')

In [ ]:
nov

       年   月   日   時   分 國道名稱  方向  ...   事件發生      事件排除 處理分鐘  事故類型 死亡  受傷   id
0    109  11   1  21   1   國1  南向  ...  21:01  21:58:00   57    A3  0   0    1
1    109  11   1  18   7   國1  南向  ...  18:07  18:37:00   30    A3  0   0    2
2    109  11   1   2   8   國1  北向  ...  02:08  02:33:00   25    A3  0   0    3
3    109  11   1   4  55   國3  北向  ...  04:55  05:16:00   21    A3  0   0    4
4    109  11   1  17  36  國10  西向  ...  17:36  17:52:00   16    A3  0   0    5
..   ...  ..  ..  ..  ..  ...  ..  ...    ...       ...  ...   ... ..  ..  ...
371  109  11  30  11  27   國1  南向  ...  11:27  0.525694   70    A3  0   0  372
372  109  11  30  19  12   國1  南向  ...  19:12   0.81875   27    A3  0   0  373
373  109  11  30  19  48  國10  東向  ...  19:48  0.843056   26    A3  0   0  374
374  109  11  30   6   9   國1  北向  ...  06:09  0.266667   15    A3  0   0  375
375  109  11  30  15  46   國1  南向  ...  15:46  0.659722    4    A3  0   0  376

[376 rows x 15 columns]

In [ ]:
#確認原始的事故時間
oritime = []
for i in range(376):
  mon = nov['月'][i]
  mon = str(mon)

  day = nov['日'][i]
  if day < 10:
    day = str(0) + str(day)
  else:
    day = str(day)

  hr = nov['時'][i]
  if hr < 10:
    hr = str(0) + str(hr)
  else:
    hr = str(hr)

  min = nov['分'][i]
  if min < 10:
    min = str(0) + str(min)
  else:
    min = str(min)

  tt = mon + day + hr + min
  oritime.append(tt)

In [ ]:
time = []
for i in range(376):
  mon = nov['月'][i]
  mon = str(mon)

  day = nov['日'][i]
  if day < 10:
    day = str(0) + str(day)
  else:
    day = str(day)

  hr = nov['時'][i]+ 2
  if hr < 10:
    hr = str(0) + str(hr)
  elif hr > 23:
    hr = str('00')

    day = nov['日'][i]+1
    if day < 10:
      day = str(0) + str(day)
    else:
      day = str(day)

  else:
    hr = str(hr)

  min = nov['分'][i]
  if min < 10:
    min = str(0) + str(min)
  else:
    min = str(min)

  tt = mon + day + hr + min
  time.append(tt)
print(time)

['11012301', '11012007', '11010408', '11010655', '11011936', '11012008', '11011747', '11012244', '11012021', '11012031', '11012035', '11011917', '11020706', '11021358', '11030046', '11022036', '11020922', '11032048', '11032257', '11031149', '11030943', '11040522', '11041949', '11040422', '11041439', '11041953', '11041754', '11042048', '11042044', '11041630', '11041839', '11041319', '11042043', '11042022', '11050551', '11052000', '11051946', '11052146', '11051524', '11051104', '11051931', '11050918', '11051752', '11051320', '11051022', '11062319', '11061055', '11061922', '11062035', '11062039', '11062030', '11060930', '11062139', '11062041', '11060928', '11061401', '11061015', '11061956', '11061723', '11070803', '11071253', '11070603', '11070259', '11071907', '11071342', '11071652', '11080049', '11072309', '11070306', '11071240', '11071553', '11071834', '11072021', '11072045', '11090001', '11082043', '11081947', '11082149', '11082040', '11081953', '11081923', '11081930', '11082124', '11082013', '11081913', '11082018', '11090800', '11091325', '11091938', '11091936', '11091050', '11091253', '11091948', '11091310', '11091901', '11091726', '11101959', '11100440', '11101714', '11100359', '11102003', '11100911', '11101805', '11101857', '11101234', '11101053', '11102054', '11120017', '11111618', '11112025', '11110951', '11111012', '11111737', '11111401', '11111634', '11112032', '11112029', '11121152', '11121204', '11121130', '11120220', '11121035', '11121432', '11121100', '11122047', '11121003', '11140010', '11131844', '11131929', '11132115', '11131447', '11131055', '11131854', '11131900', '11132023', '11132117', '11132059', '11131859', '11131520', '11131943', '11131958', '11132048', '11132137', '11132008', '11141943', '11140834', '11141923', '11141841', '11141237', '11141333', '11141217', '11140741', '11142133', '11141805', '11142051', '11141147', '11142000', '11141247', '11141317', '11151953', '11150706', '11150934', '11152306', '11151626', '11151919', '11160055', '11152153', '11152027', '11152131', '11151929', '11152357', '11152025', '11152138', '11152226', '11162025', '11160924', '11161626', '11160759', '11161255', '11162024', '11161932', '11161933', '11162022', '11162020', '11161156', '11161604', '11170041', '11161129', '11161407', '11161730', '11161902', '11160926', '11161245', '11161241', '11162105', '11171252', '11171751', '11171208', '11172111', '11171950', '11172014', '11171854', '11171835', '11172004', '11172007', '11171254', '11171155', '11171641', '11171831', '11171226', '11170546', '11171230', '11171059', '11180733', '11181252', '11180421', '11181929', '11181110', '11181232', '11181257', '11181011', '11181239', '11181911', '11182055', '11181318', '11181943', '11191322', '11191056', '11191252', '11192332', '11191623', '11191615', '11192137', '11191739', '11191835', '11191944', '11192025', '11191028', '11191207', '11202109', '11201652', '11202034', '11201256', '11201132', '11202143', '11202247', '11202001', '11202058', '11201750', '11201857', '11201712', '11201755', '11202000', '11202134', '11201048', '11201309', '11211118', '11211123', '11211926', '11212108', '11211340', '11211141', '11211440', '11211945', '11211136', '11211402', '11212059', '11211324', '11222242', '11221937', '11222000', '11222003', '11222010', '11222311', '11221310', '11222136', '11222004', '11221131', '11222344', '11221323', '11222127', '11222207', '11232113', '11231953', '11231948', '11231955', '11232003', '11230903', '11232125', '11231924', '11232018', '11231719', '11231959', '11242220', '11241042', '11240914', '11242001', '11242258', '11241236', '11241950', '11242209', '11242030', '11241207', '11242031', '11241339', '11252107', '11251822', '11252008', '11252115', '11251925', '11251047', '11252101', '11251054', '11251934', '11262114', '11261058', '11270044', '11261238', '11261347', '11262018', '11262025', '11261025', '11261205', '11272034', '11271102', '11271907', '11271339', '11272025', '11272035', '11272122', '11272118', '11271015', '11271853', '11271954', '11272003', '11271039', '11281445', '11282034', '11281304', '11281615', '11281946', '11281152', '11281333', '11281411', '11281428', '11281251', '11290057', '11281308', '11300036', '11292130', '11291809', '11292203', '11291955', '11292146', '11291015', '11292211', '11291403', '11292207', '11300039', '11291939', '11291731', '11291856', '11292027', '11291918', '11292035', '11292107', '11291325', '11292124', '11291252', '11291843', '11292047', '11301327', '11302112', '11302148', '11300809', '11301746']

In [ ]:
#確認是否重複:
rep = []
for i in range(len(oritime)):
  for j in range(len(time)):
    if time[j] == oritime[i]:
      print('重疊的時間點:',time[j],', 原始事故時間:', oritime[i])
      print('---------------------')
      rep.append(time[j])

重疊的時間點: 11051946 , 原始事故時間: 11051946
---------------------
重疊的時間點: 11070603 , 原始事故時間: 11070603
---------------------
重疊的時間點: 11131859 , 原始事故時間: 11131859
---------------------
重疊的時間點: 11151953 , 原始事故時間: 11151953
---------------------

In [ ]:
col_name=nov.columns.tolist() 
col_name.insert(5,'time') 
nov=nov.reindex(columns=col_name)   
nov['time']=time

In [ ]:
nov = nov.drop(['年','月','日','時','分','事件發生','事件排除'],axis=1)
nov = nov[['id','time','國道名稱','方向','里程','處理分鐘','事故類型','死亡','受傷']]
nov['國道名稱'] = nov['國道名稱'].str.replace('國','N')
nov = nov.replace({'東向':'E' , '西向':'W' , '南向':'S' , '北向':'N' })
nov = nov.replace({'A3':'3' , 'A2':'2' , 'A1':'1' })
nov.columns = ['ID','Time','Roadname','Direction','Mile','Duration','Severity','Death','Injury']

In [ ]:
nov = nov[~nov['Time'].isin(rep)]
nov

      ID      Time Roadname Direction   Mile  Duration Severity  Death  Injury
0      1  11012301       N1         S  273.7        57        3      0       0
1      2  11012007       N1         S  310.7        30        3      0       0
2      3  11010408       N1         N  351.4        25        3      0       0
3      4  11010655       N3         N  410.5        21        3      0       0
4      5  11011936      N10         W   17.0        16        3      0       0
..   ...       ...      ...       ...    ...       ...      ...    ...     ...
371  372  11301327       N1         S  373.0        70        3      0       0
372  373  11302112       N1         S  365.1        27        3      0       0
373  374  11302148      N10         E   22.6        26        3      0       0
374  375  11300809       N1         N  287.0        15        3      0       0
375  376  11301746       N1         S  303.4         4        3      0       0

[372 rows x 9 columns]

In [ ]:
nov = nov.reset_index()

In [ ]:
nov

     index   ID      Time Roadname  ... Duration  Severity  Death Injury
0        0    1  11012301       N1  ...       57         3      0      0
1        1    2  11012007       N1  ...       30         3      0      0
2        2    3  11010408       N1  ...       25         3      0      0
3        3    4  11010655       N3  ...       21         3      0      0
4        4    5  11011936      N10  ...       16         3      0      0
..     ...  ...       ...      ...  ...      ...       ...    ...    ...
367    371  372  11301327       N1  ...       70         3      0      0
368    372  373  11302112       N1  ...       27         3      0      0
369    373  374  11302148      N10  ...       26         3      0      0
370    374  375  11300809       N1  ...       15         3      0      0
371    375  376  11301746       N1  ...        4         3      0      0

[372 rows x 10 columns]

#創建檔案序列 可以讀前五分鐘後十分鐘的資料

In [ ]:
dic = []
month = 11
mon = str(month)
for k in range(1,30+1):
  if k <=9:
    day= str(0) + str(k)
  else:
    day= str(k)
  for i in range(0,24):
    if i <=9:
      hours = str(0)+str(i)
    else:
      hours = str(i)
    for j in range(0,60):
      if j <=9:
        min = str(0) + str(j)
      else:
        min = str(j)
      tt = mon + day + hours + min
      dic.append(tt)

#創建新的空表格

In [ ]:
#備份起來怕弄壞
nov_acc = nov.copy()

In [ ]:
#先新增好欄位
for i in range(1,17):
  nov_acc['b_'+str(i)+'_s'] = None
  nov_acc['b_'+str(i)+'_o'] = None
  nov_acc['b_'+str(i)+'_v'] = None
  nov_acc['f_'+str(i)+'_s'] = None
  nov_acc['f_'+str(i)+'_o'] = None
  nov_acc['f_'+str(i)+'_v'] = None

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
nov_acc

     index   ID      Time Roadname Direction  ...  b_16_o  b_16_v f_16_s  f_16_o  f_16_v
0        0    1  11012301       N1         S  ...    None    None   None    None    None
1        1    2  11012007       N1         S  ...    None    None   None    None    None
2        2    3  11010408       N1         N  ...    None    None   None    None    None
3        3    4  11010655       N3         N  ...    None    None   None    None    None
4        4    5  11011936      N10         W  ...    None    None   None    None    None
..     ...  ...       ...      ...       ...  ...     ...     ...    ...     ...     ...
367    371  372  11301327       N1         S  ...    None    None   None    None    None
368    372  373  11302112       N1         S  ...    None    None   None    None    None
369    373  374  11302148      N10         E  ...    None    None   None    None    None
370    374  375  11300809       N1         N  ...    None    None   None    None    None
371    375  376  11301746       N1         S  ...    None    None   None    None    None

[372 rows x 106 columns]

#寫入VD編號跟時間點，去抓資料庫的資料

In [ ]:
def write(VD_index,now,temp_num):
  VD_index = int(VD_index)
  now = str(now)
  p = dic.index(now)

  for j in range(1,17):
    #設定路徑
    path = 'drive/MyDrive/Colab Notebooks/研究所/xml to csv new/11月/'+ dic[p-10] +'.csv'
    #先讀檔案
    file = pd.read_csv(path)
    print(dic[p-10])
    p += 1

    #基本欄位轉換和命名
    #這邊不用動
    file.columns=['id','VDID','LinkID','Speed','Occupancy','Volume']
    a = file.drop('id',axis=1)
    Road = a.VDID.str.split('-').str.get(1)
    Direction = a.VDID.str.split('-').str.get(2)
    Mile = a.VDID.str.split('-').str.get(3)
    a['Road'] = Road
    a['Direction'] = Direction
    a['Mile'] = Mile
    a = a[['Road','Direction','Mile','Speed','Occupancy','Volume','VDID','LinkID']]
    for i in range(len(a)):
      try:
        a['Mile'][i] = float(a['Mile'][i])
      except:
        pass
    a['Mile'][1686] = float(0.008)
    a['Mile'][1992] = float(0.100)  

    #指定前後VD的資料
    back_1 = a[a['VDID'] == temp_list['VDID'][VD_index]]
    front_1 = a[a['VDID'] == temp_list['VDID'][VD_index + 1]]

    #指派目前的事故檔案位置
    nnn =  temp_num
    #指派給對應的欄位
    nov_acc['b_' + str(j) + '_s'][nnn] = float(back_1['Speed'].values)
    nov_acc['b_' + str(j) + '_o'][nnn] = float(back_1['Occupancy'].values)
    nov_acc['b_' + str(j) + '_v'][nnn] = float(back_1['Volume'].values)
    nov_acc['f_' + str(j) + '_s'][nnn] = float(front_1['Speed'].values)
    nov_acc['f_' + str(j) + '_o'][nnn] = float(front_1['Occupancy'].values)
    nov_acc['f_' + str(j) + '_v'][nnn] = float(front_1['Volume'].values)

#設定地點對照檔案

In [ ]:
#先備份一個怕弄壞
nov_test = nov.copy()

In [ ]:
!gdown --id '1-7nXs7U1DbMRE3gsFvCNRipAQwtFYUig' --output 11010000.csv

Downloading...
From: https://drive.google.com/uc?id=1-7nXs7U1DbMRE3gsFvCNRipAQwtFYUig
To: /content/11010000.csv
100% 232k/232k [00:00<00:00, 77.6MB/s]

In [ ]:
#先設置尋找前後VD的基準檔案
#test1 = pd.read_csv('drive/MyDrive/Colab Notebooks/xml to csv new/11月/11010000.csv')
test1 = pd.read_csv('11010000.csv')
test1.columns=['id','VDID','LinkID','Speed','Occupancy','Volume']
test1

        id                         VDID  ...  Occupancy      Volume
0        0  VD-N1-N-198-O-SE-21-北上出口-彰化  ...   2.000000    4.000000
1        1      VD-T82-W-10-O-EN-1-Loop  ...   1.000000    2.000000
2        2      VD-T82-W-14-O-EN-1-Loop  ... -99.000000 -742.500000
3        3        VD-N2-W-11.344-N-LOOP  ...   3.000000    6.000000
4        4         VD-N1-N-33-I-EN-1-五股  ...   2.000000    4.000000
...    ...                          ...  ...        ...         ...
3433  3433       VD-N1-N-308.988-M-Loop  ...   2.666667   10.666667
3434  3434    VD-N3-S-176-I-WS-1X-南下入口2  ...   1.000000    2.250000
3435  3435       VD-N1-N-276.010-M-Loop  ...   1.666667    9.166667
3436  3436       VD-T66-W-23-O-EN-1-平鎮三  ...   2.000000    3.000000
3437  3437      VD-N1-N-311-O-SE-2-Loop  ...   2.000000    0.000000

[3438 rows x 6 columns]

In [ ]:
a = test1.drop('id',axis=1)
Road = a.VDID.str.split('-').str.get(1)
Direction = a.VDID.str.split('-').str.get(2)
Mile = a.VDID.str.split('-').str.get(3)
a['Road'] = Road
a['Direction'] = Direction
a['Mile'] = Mile
a = a[['Road','Direction','Mile','Speed','Occupancy','Volume','VDID','LinkID']]

for i in range(len(a)):
  try:
    a['Mile'][i] = float(a['Mile'][i])
    #temp = round(temp,3)
    #print(temp)
  except:
    pass

a['Mile'][1686] = float(0.008)
a['Mile'][1992] = float(0.100)

In [ ]:
count = 0

In [ ]:
nov_test = nov_test.reset_index()

#開始RUN

In [ ]:
for num in range(len(nov_test)):
  #先創建一個空表格
  #來暫存所搜尋的資料
  temp_list = pd.DataFrame(columns=('Road','Direction','Mile','Speed','Occupancy','Volume','VDID','LinkID'))

  #先以國道和方向搜尋
    
  for i in range(len(a)):
    if nov_test['Roadname'][num] == a['Road'][i] and nov_test['Direction'][num] == a['Direction'][i] :
      temp_list = temp_list.append(a[i:i+1])
   
  #再以里程數作為排序
  temp_list = temp_list.sort_values(by=['Mile'])
  temp_list = temp_list.reset_index(drop=True)

  #再去暫存的資料裡面抓前後VD的編號
  for j in range(len(temp_list)):
    try:
      if temp_list['Mile'][j] < nov_test['Mile'][num] < temp_list['Mile'][j+1]:
        print('第',num,'個事故發生VD: ',j)
        print('國道:',temp_list['Road'][j],'方向',temp_list['Direction'][j],'里程:',temp_list['Mile'][j])
        print('---------------------------')

        write(j,nov_test['Time'][num],num)
        print('---------------------------')
      
    except:
      count += 1 
      continue

第 0 個事故發生VD:  375
國道: N1 方向 S 里程: 273.241
---------------------------
11012251
11012252
11012253
11012254
11012255
11012256
11012257
11012258
11012259
第 1 個事故發生VD:  416
國道: N1 方向 S 里程: 309.11
---------------------------
11011957
11011958
11011959
11012000
11012001
11012002
11012003
11012004
11012005
11012006
11012007
11012008
11012009
11012010
11012011
11012012
---------------------------
第 2 個事故發生VD:  482
國道: N1 方向 N 里程: 350.994
---------------------------
11010358
11010359
11010400
11010401
11010402
11010403
11010404
11010405
11010406
11010407
11010408
11010409
11010410
11010411
11010412
11010413
---------------------------
第 3 個事故發生VD:  468
國道: N3 方向 N 里程: 409.708
---------------------------
11010645
11010646
11010647
11010648
11010649
11010650
11010651
11010652
11010653
11010654
11010655
11010656
11010657
11010658
11010659
11010700
---------------------------
第 4 個事故發生VD:  18
國道: N10 方向 W 里程: 15.352
---------------------------
11011926
11011927
11011928
11011929
11011930
11011931
11011932
11011933
11011934
11011935
11011936
11011937
11011938
11011939
11011940
11011941
---------------------------
第 5 個事故發生VD:  416
國道: N1 方向 S 里程: 309.11
---------------------------
11011958
11011959
11012000
11012001
11012002
11012003
11012004
11012005
11012006
11012007
11012008
11012009
11012010
11012011
11012012
11012013
---------------------------
第 6 個事故發生VD:  5
國道: N10 方向 W 里程: 3.273
---------------------------
11011737
11011738
11011739
11011740
11011741
11011742
11011743
11011744
11011745
11011746
11011747
11011748
11011749
11011750
11011751
11011752
---------------------------
第 7 個事故發生VD:  469
國道: N1 方向 S 里程: 340.9
---------------------------
11012234
11012235
11012236
11012237
11012238
11012239
11012240
11012241
11012242
11012243
11012244
11012245
11012246
11012247
11012248
11012249
---------------------------
第 8 個事故發生VD:  7
國道: N10 方向 W 里程: 4.845
---------------------------
11012011
11012012
11012013

In [ ]:
count

21

In [ ]:
nov_acc

     index   ID      Time Roadname  ...   b_16_v   f_16_s   f_16_o f_16_v
0        0    1  11012301       N1  ...     None     None     None   None
1        1    2  11012007       N1  ...  20.3333        0        0      0
2        2    3  11010408       N1  ...  4.66667  155.667  3.33333      5
3        3    4  11010655       N3  ...      3.5       94      1.5   4.25
4        4    5  11011936      N10  ...  24.8333  94.3333  6.66667   21.5
..     ...  ...       ...      ...  ...      ...      ...      ...    ...
367    371  372  11301327       N1  ...     None     None     None   None
368    372  373  11302112       N1  ...     18.8     97.8      6.8   19.2
369    373  374  11302148      N10  ...        1       94        2    4.5
370    374  375  11300809       N1  ...  9.16667       31        3      4
371    375  376  11301746       N1  ...        1  103.333  7.33333   26.5

[372 rows x 106 columns]

In [ ]:
final_nov = nov_acc.copy()

In [ ]:
final_nov = final_nov.dropna()

In [ ]:
fffff = final_nov.copy()

In [ ]:
temp_final = final_nov.drop(['Time','Roadname','Direction','Mile','Duration','Severity','Death','Injury'], axis=1)
temp_final

     index   ID    b_1_s    b_1_o  ...   b_16_v   f_16_s   f_16_o f_16_v
1        1    2  112.667  4.66667  ...  20.3333        0        0      0
2        2    3  107.667  1.33333  ...  4.66667  155.667  3.33333      5
3        3    4    112.5      1.5  ...      3.5       94      1.5   4.25
4        4    5  83.6667  9.66667  ...  24.8333  94.3333  6.66667   21.5
5        5    6  112.667  4.66667  ...  25.3333       34        3      5
..     ...  ...      ...      ...  ...      ...      ...      ...    ...
366    370  371      -99      -99  ...       21        0        0      0
368    372  373    103.4        6  ...     18.8     97.8      6.8   19.2
369    373  374        0        0  ...        1       94        2    4.5
370    374  375      116        4  ...  9.16667       31        3      4
371    375  376       54        7  ...        1  103.333  7.33333   26.5

[322 rows x 98 columns]

In [ ]:
for cols in fffff.columns.tolist()[10:]:
  fffff = fffff[fffff[cols] > 0]

In [ ]:
fffff

     index   ID      Time Roadname  ...   b_16_v   f_16_s   f_16_o   f_16_v
2        2    3  11010408       N1  ...  4.66667  155.667  3.33333        5
3        3    4  11010655       N3  ...      3.5       94      1.5     4.25
4        4    5  11011936      N10  ...  24.8333  94.3333  6.66667     21.5
6        6    7  11011747      N10  ...   16.625  37.3333  16.3333  19.3333
8        8    9  11012021      N10  ...  14.6667  78.6667        8  21.3333
..     ...  ...       ...      ...  ...      ...      ...      ...      ...
362    366  367  11291325       N1  ...     11.5     68.5     8.75   22.125
364    368  369  11291252       N1  ...     2.25  72.6667        4       17
365    369  370  11291843      N10  ...     11.5       93        4       11
368    372  373  11302112       N1  ...     18.8     97.8      6.8     19.2
371    375  376  11301746       N1  ...        1  103.333  7.33333     26.5

[186 rows x 106 columns]

In [ ]:
'''
final_nov.to_csv('drive/MyDrive/Colab Notebooks/xml to csv new/final_nov.csv')
nov_acc.to_csv('drive/MyDrive/Colab Notebooks/xml to csv new/nov_acc.csv')
'''

In [ ]:
fffff.to_csv('drive/MyDrive/Colab Notebooks/xml to csv new/11_nocrash2.csv')